:root {
  --primary: #1677ff;
  --secondary: #13c2c2;
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #d9d9d9;  
}

/* //dark theme */
[data-theme="dark"] {
  --primary: #4096ff;
  --secondary: #36cfc9;
  --bg-color: #141414;
  --text-color: #ffffff;
  --border-color: #434343;
}

/* //orange theme */
[data-theme="orange"] {
  --primary: #4096ff;
  --secondary: #36cfc9;
  --bg-color: orange;
  --text-color: #000;
  --border-color: #434343;
}

/* //green theme */
[data-theme="green"] {
  --primary: #4096ff;
  --secondary: #36cfc9;
  --bg-color: green;
  --text-color: #ffffff;
  --border-color: #434343;
}

/* //purple theme */
[data-theme="purple"] {
  --primary: #4096ff;
  --secondary: #36cfc9;
  --bg-color: purple;
  --text-color: #ffffff;
  --border-color: #434343;
}

/* //red theme */
[data-theme="red"] {
  --primary: #4096ff;
  --secondary: #36cfc9;
  --bg-color: red;
  --text-color: #ffffff;
  --border-color: #434343;
}

/* //blue theme */
[data-theme="blue"] {
  --primary: #4096ff;
  --secondary: #36cfc9;
  --bg-color: blue;
  --text-color: #ffffff;
  --border-color: #434343;
}

/* //grey theme */
[data-theme="grey"] {
  --primary: #4096ff;
  --secondary: #36cfc9;
  --bg-color: grey;
  --text-color: red;
  --border-color: #434343;
}

/* //font size contol */
[data-font-size="xs"] {
  --font-size-base: 12px;
}

[data-font-size="sm"] {
  --font-size-base: 18px;
}

[data-font-size="md"] {
  --font-size-base: 55px;
}